{%- if site.google_analytics -%}
<script src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script src="{{ 'assets/js/google-analytics.js' | relative_url }}"></script>
{%- endif -%}

{%- comment -%}Polyfill for older browser{%- endcomment -%}
<!--[if lt IE 9]>
<script src="{{ 'assets/js/html5shiv/html5shiv.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/html5shiv/html5shiv-printshiv.min.js' | relative_url }}"></script>
<![endif]-->

<script src="{{ 'assets/js/jquery/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/bootstrap/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/scrollify/jquery.scrollify.min.js' | relative_url }}"></script>

<script src="{{ 'assets/js/main.js' | relative_url }}"></script>
