@font-face {
	font-family: "Bebas Neue";
	src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Generation Mono";
	src: url("../fonts/Generation_Mono/Generation-Mono.otf") format("truetype");
}

@font-face {
	font-family: "Space Mono Regular";
	src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Dune Rise";
	src: url("../fonts/Dune_Rise/Dune_Rise.otf") format("truetype");
}
