.maintenance-window {
	position: fixed;
	z-index: 999;
	background-color: #000;

	& h1, p {
		color: #fff;
	}

	& h1 {
		font-family: "Generation Mono", sans-serif;
		font-size: 3rem;
		letter-spacing: .2rem;
	}

	& p {
		font-family: "Space Mono Regular", sans-serif;
	}
}
